<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin change password | Pandas Voucher
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <%- include ../component/admin/cdn.ejs %>
  <style>
    .changePasswordPage #expired .is-focused .bmd-label-floating {
      display: block !important;
    }
    /* loading for add brand */
    .changePasswordPage #show-message-delay-change-password-user {
      display: none;
    }
    .changePasswordPage .loading-change-password-user {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
    }
    .changePasswordPage .loading-change-password-user .loader,
    .changePasswordPage .loading-change-password-user .loader .bar {
      width: 60px;
      height: 20px;
    }
    .changePasswordPage .loading-change-password-user .loader .bar {
      position: absolute;
      display: flex;
      align-items: center;
    }
    .changePasswordPage .loading-change-password-user .loader .bar::before,
    .changePasswordPage .loading-change-password-user .loader .bar::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: #9c27b0;
      background: #9c27b0;
      opacity: 0;
      box-shadow: 1px 1px 4px rgba(0,0,0,.15);
      border-radius: 10px;
      animation: slideleft 2s ease-in-out infinite;
    }

    .changePasswordPage .loading-change-password-user .loader .bar1::before { animation-delay: 0.00s }
    .changePasswordPage .loading-change-password-user .loader .bar1::after  { animation-delay: 0.3s }
    .changePasswordPage .loading-change-password-user .loader .bar2::before { animation-delay: 0.60s }
    .changePasswordPage .loading-change-password-user .loader .bar2::after  { animation-delay: 0.90s }
    .changePasswordPage .loading-change-password-user .loader .bar3::before { animation-delay: 1.20s }
    .changePasswordPage .loading-change-password-user .loader .bar3::after  { animation-delay: 1.50s }

    @keyframes slideleft {
      10% { opacity: 0; transform: scale(0); right: 0 }
      50% { opacity: 1; transform: scale(1) }
      90% { opacity: 0; transform: scale(0); right: 100% }
    }
  </style>
</head>

<body class="changePasswordPage" data-user="<%= user._id %>">
  <div class="wrapper ">
    <%- include ../component/admin/sidebar.ejs %>
    <div class="main-panel">
      <!-- Navbar -->
      <%- include ../component/admin/narbar.ejs %>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Thay đổi mật khẩu</h4>
                  <p class="card-category">Thay đổi mật khẩu người dùng</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Mật khẩu cũ</label>
                          <input type="password" class="form-control" id="old_password">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Mật khẩu mới</label>
                              <input type="password" class="form-control" id="new_password">
                            </div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nhập lại mật khẩu</label>
                              <input type="password" class="form-control" id="re_password">
                            </div>
                          </div>
                    </div>
                    <div class="row" id="show-message-delay-change-password-user">
                      <div class="col-md-12 loading-change-password-user">
                        <label style="font-size:25px;">Đang xử lý dữ liệu</label>
                      </div>
                      <div class="col-md-12 loading-change-password-user">
                        <div class="loader">
                          <div class="bar bar1"></div>
                          <div class="bar bar2"></div>
                          <div class="bar bar3"></div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right change-password-user-admin">Cập nhật</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ../component/admin/footer.ejs %>
    </div>
  </div>
  <%- include ../component/admin/fixed-plugin.ejs %>

  <%- include ../component/message-alert.ejs %>

  <%- include ../component/admin/scripts-fixed-plugin.ejs %>
</body>
<script>
  $('.changePasswordPage .change-password-user-admin').on('click', e => {
    $('.changePasswordPage #show-message-delay-change-password-user').show()

    const id = document.querySelector('.changePasswordPage').dataset.user
    const old_password = $('.changePasswordPage #old_password').val()
    const new_password = $('.changePasswordPage #new_password').val()
    const re_password = $('.changePasswordPage #re_password').val()

    const query = {
        old_password,
        new_password,
        re_password
    }

    fetch(`../admin/api/users/password/${id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(query)
    }).then(res => res.text())
    .then(data => {
        data = JSON.parse(data)

        if (data.status) {
            $('.changePasswordPage #show-message-delay-change-password-user').hide()
            $('.messsageAlertPage #message-alert-show .content').html(data.message)
            $('.messsageAlertPage #message-alert-show').fadeIn();

            setTimeout(() => {
                $('.messsageAlertPage #message-alert-show').fadeOut();
                window.location.href = '../admin/user'
            },1000)
        }
        else {
            $('.changePasswordPage #show-message-delay-change-password-user').hide()
            $('.messsageAlertPage #message-alert-show .content').html(data.error)
            $('.messsageAlertPage #message-alert-show').fadeIn();

            setTimeout(() => {
                $('.messsageAlertPage #message-alert-show').fadeOut();
            },3000)
        }
    }).catch(e => {
        $('.changePasswordPage #show-message-delay-change-password-user').hide()
        $('.messsageAlertPage #message-alert-show .content').html(e.message)
        $('.messsageAlertPage #message-alert-show').fadeIn();

        setTimeout(() => {
            $('.messsageAlertPage #message-alert-show').fadeOut();
        },3000)
    })
  })
</script>
</html>