<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin bill | Pandas voucher
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <%- include ../component/admin/cdn.ejs %>
</head>

<body class="tablePage">
  <div class="wrapper ">
    <%- include ../component/admin/sidebar.ejs %>
    <div class="main-panel">
      <!-- Navbar -->
      <%- include ../component/admin/narbar.ejs %>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Danh sách đơn hàng</h4>
                  <p class="card-category"> đơn hàng chưa xác thực & đơn hàng hoàn thành</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID đơn hàng
                        </th>
                        <th>
                          ID khách hàng
                        </th>
                        <th>
                          Tên khách hàng
                        </th>
                        <th>
                          Ngày đặt hàng
                        </th>
                        <th>
                          Ngày giao dự kiến
                        </th>
                        <th>
                          Nhà vận chuyển
                        </th>
                        <th>
                          Phí giao hàng
                        </th>
                        <th>
                          Tổng tiền hàng
                        </th>
                        <th>
                          Tổng hoá đơn
                        </th>
                        <th colspan="3">
                          Tình trạng
                        </th>
                      </thead>
                      <tbody>
                        <% buys.forEach(b => { %>
                          <tr>
                            <td>
                              <a href="/admin/buys?id=<%= b._id %>" target="_blank"><%= b._id.toString().substring(0,8) %>...</a>
                            </td>
                            <td>
                              <a href="/admin/customer?id=<%= b.user._id %>"><%= b.user._id.toString().substring(0,8) %>...</a>
                            </td>
                            <td>
                              <%= b.user.name %>
                            </td>
                            <td>
                              <%= moment(b.orderDate).format('HH:mm - DD/MM/YYYY') %>
                            </td>
                            <td>
                              <%= moment(b.deliveryDate).format('HH:mm - DD/MM/YYYY') %>
                            </td>
                            <td>
                              <%= b.shipper.item.name %>
                            </td>
                            <td class="text-primary">
                              <%= b.shipper.price %>
                            </td>
                            <td class="text-primary">
                              <%= b.totalPrice.toLocaleString() %>
                            </td>
                            <td class="text-primary">
                              <%= (b.totalPrice + b.shipper.price).toLocaleString() %>
                            </td>
                            <% if (b.validation) { %>
                              <% if (b.receive.check) { %>
                                <td>
                                  Đã nhận hàng <%= moment(b.receive.date).format('HH:ss - DD:MM:YYYY') %>
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Chi tiết" class="btn btn-primary btn-link btn-sm">
                                    <a href="./buys?id=<%= b._id %>" target="_blank"><i class="material-icons">preview</i></a>
                                  </button>
                                </td>
                              <% } else if (b.cancel.check) { %>
                                <td>
                                  Đã huỷ vào <%= moment(b.cancel.date).format('HH:ss - DD:MM:YYYY') %>
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Chi tiết" class="btn btn-primary btn-link btn-sm">
                                    <a href="./buys?id=<%= b._id %>" target="_blank"><i class="material-icons">preview</i></a>
                                  </button>
                                </td>
                              <% } else { %>
                                <td>
                                  Đang giao hàng
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Chi tiết" class="btn btn-primary btn-link btn-sm">
                                    <a href="./buys?id=<%= b._id %>" target="_blank"><i class="material-icons">preview</i></a>
                                  </button>
                                </td>
                              <% } %>
                            <% } else { %>
                              <% if (b.cancel.check) { %>
                                <td>
                                  Đã huỷ vào <%= moment(b.cancel.date).format('HH:ss - DD:MM:YYYY') %>
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Chi tiết" class="btn btn-primary btn-link btn-sm">
                                    <a href="./buys?id=<%= b._id %>" target="_blank"><i class="material-icons">preview</i></a>
                                  </button>
                                </td>
                              <% } else { %>
                                <td>
                                  Đang xác thực
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Chi tiết" class="btn btn-primary btn-link btn-sm">
                                    <a href="./buys?id=<%= b._id %>" target="_blank"><i class="material-icons">preview</i></a>
                                  </button>
                                </td>
                                <td>
                                  <button type="button" rel="tooltip" title="Xác thực" onclick="checkPurchaseForUser(this)" data-buy="<%= b._id %>" class="btn btn-primary btn-link btn-sm">
                                    <i class="material-icons">check</i>
                                  </button>
                                </td>
                              <% } %>
                            <% } %>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ../component/admin/footer.ejs %>
    </div>
  </div>
  <%- include ../component/admin/fixed-plugin.ejs %>

  <%- include ../component/message-alert.ejs %>

  <%- include ../component/admin/scripts-fixed-plugin.ejs %>
</body>
<script>
function checkPurchaseForUser(element) {
      const id = element.dataset.buy
      fetch('../admin/api/buys/validation', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({id})
      }).then(res => res.text())
      .then(data => {
        data = JSON.parse(data)
        if (data.status) {
          $('.messsageAlertPage #message-alert-show .content').html(data.message)
          $('.messsageAlertPage #message-alert-show').fadeIn();

          setTimeout(() => {
              $('.messsageAlertPage #message-alert-show').fadeOut();
              location.reload();
          },1000)
        }
        else {
          $('.messsageAlertPage #message-alert-show .content').html(data.error)
          $('.messsageAlertPage #message-alert-show').fadeIn();

          setTimeout(() => {
              $('.messsageAlertPage #message-alert-show').fadeOut();
          },3000)
        }
      }).catch(e => {
        $('.messsageAlertPage #message-alert-show .content').html(e.message)
        $('.messsageAlertPage #message-alert-show').fadeIn();

        setTimeout(() => {
            $('.messsageAlertPage #message-alert-show').fadeOut();
        },3000)
      })
    }
</script>
</html>