<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin User profile | Pandas Voucher
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <%- include ../component/admin/cdn.ejs %>
  <style>
    .userAdminPage #update-avatar-user-admin-modal .show-image-upload .edit-review-upload-block img.edit-review-upload {
      width: 200px;
      height: 200px;
    }
    .userAdminPage #update-avatar-user-admin-modal .show-image-upload .edit-review-upload-block {
      display:inline-block;
      margin:5px 20px;
      padding:5px;
      border:1px solid #CCC;
    }
    .userAdminPage #update-avatar-user-admin-modal .show-image-upload {
      width: 100%;
      text-align:center;
    }
    .userAdminPage #update-avatar-user-admin-modal .cancel-review-img-upload {
      cursor: pointer;
    }
    .userAdminPage #update-avatar-user-admin-modal .label-for-img-upload-input {
      display: inline-block;
      background-color: #A13BB6;
      color: white;
      padding: 0.5rem;
      font-family: sans-serif;
      border-radius: 0.3rem;
      cursor: pointer;
      margin-top: 1rem;
    }
    .userAdminPage #show-message-delay-update-user-admin {
      display: none;
    }
    .userAdminPage .loading-update-user-admin {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
    }
    .userAdminPage .loading-update-user-admin .loader,
    .userAdminPage .loading-update-user-admin .loader .bar {
      width: 60px;
      height: 20px;
    }
    .userAdminPage .loading-update-user-admin .loader .bar {
      position: absolute;
      display: flex;
      align-items: center;
    }
    .userAdminPage .loading-update-user-admin .loader .bar::before,
    .userAdminPage .loading-update-user-admin .loader .bar::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: #9c27b0;
      background: #9c27b0;
      opacity: 0;
      box-shadow: 1px 1px 4px rgba(0,0,0,.15);
      border-radius: 10px;
      animation: slideleft 2s ease-in-out infinite;
    }

    .userAdminPage .loading-update-user-admin .loader .bar1::before { animation-delay: 0.00s }
    .userAdminPage .loading-update-user-admin .loader .bar1::after  { animation-delay: 0.3s }
    .userAdminPage .loading-update-user-admin .loader .bar2::before { animation-delay: 0.60s }
    .userAdminPage .loading-update-user-admin .loader .bar2::after  { animation-delay: 0.90s }
    .userAdminPage .loading-update-user-admin .loader .bar3::before { animation-delay: 1.20s }
    .userAdminPage .loading-update-user-admin .loader .bar3::after  { animation-delay: 1.50s }

    @keyframes slideleft {
      10% { opacity: 0; transform: scale(0); right: 0 }
      50% { opacity: 1; transform: scale(1) }
      90% { opacity: 0; transform: scale(0); right: 100% }
    }

    .userAdminPage .card-profile .card-avatar {
      max-width: 170px;
      max-height: 170px;
    }
    .userAdminPage .card-profile .card-avatar img.follow-avatar-admin {
      width: 170px;
      height: 170px;
    }
  </style>
</head>

<body class="userAdminPage" data-user="<%= user._id %>">
  <div class="wrapper ">
    <%- include ../component/admin/sidebar.ejs %>
    <div class="main-panel">
      <!-- Navbar -->
      <%- include ../component/admin/narbar.ejs %>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Chỉnh sửa thông tin</h4>
                  <p class="card-category">Hoàn thành thông tin của bạn</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Công ty (disabled)</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Địa chỉ email</label>
                          <input type="email" class="form-control" value="<%= user.email %>" id="email-admin">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Họ tên của bạn</label>
                          <input type="text" class="form-control" value="<%= user.name %>" id="name-admin">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Facebook, Instagram,...</label>
                          <input type="text" class="form-control"  value="<%= user.url %>" id="url-admin">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Địa chỉ</label>
                          <input type="text" class="form-control"  value="<%= user.street %>" id="address-admin">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Mã bưu chính</label>
                          <input type="number" class="form-control"  value="<%= user.code %>" id="code-admin">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Thành phố</label>
                          <input type="text" class="form-control"  value="<%= user.city %>" id="city-admin">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Quận / Thị xã</label>
                          <input type="text" class="form-control"  value="<%= user.district %>" id="district-admin">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Số điện thoại</label>
                          <input type="text" class="form-control"  value="<%= user.phone %>" id="phone-admin">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Giới thiệu</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> giới thiệu về bản thân...</label>
                            <textarea class="form-control" rows="5" id="desc-admin"><%= user.desc %></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Xác thực mật khẩu</label>
                          <input type="password" class="form-control" id="password-admin">
                        </div>
                      </div>
                    </div>

                    <div class="row" id="show-message-delay-update-user-admin">
                      <div class="col-md-12 loading-update-user-admin">
                        <label style="font-size:25px;">Đang xử lý</label>
                      </div>
                      <div class="col-md-12 loading-update-user-admin">
                        <div class="loader">
                          <div class="bar bar1"></div>
                          <div class="bar bar2"></div>
                          <div class="bar bar3"></div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" id="btn-update-user-admin">Cập nhật thông tin</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img follow-avatar-admin" src="<%= user.image %>"/>
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray follow-email-admin"><%= user.email %></h6>
                  <h4 class="card-title follow-name-admin"><%= user.name %></h4>
                  <p class="card-description follow-desc-admin">
                    <%= user.desc %>
                  </p>
                  <p>
                    <a href=""><%= user.url %></a>
                  </p>
                  <button class="btn btn-primary btn-round btn-update-avatar-user-admin" onclick="handleDataIdForModal(this)" data-user="<%= user._id %>"  data-toggle="modal" data-target="#update-avatar-user-admin-modal">Thay đổi ảnh đại diện</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ../component/admin/footer.ejs %>
    </div>

    <div class="modal fade" id="update-avatar-user-admin-modal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thay đổi ảnh đại diện người dùng</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Ảnh đại diện</label>
                  <div>
                    <input type="file" id="img-upload-input" hidden accept=".jpg, .jpeg, .png" onchange="readURL(this)" style="opacity: 1; position: initial;"/>
                    <label for="img-upload-input" class="label-for-img-upload-input">Chọn hình ảnh đại diện</label>
                  </div>
                </div>
                <div class="show-image-upload">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="handleCloseImgAvatar(this)">Đóng</button>
            <button type="button" class="btn btn-primary" id="btn-update-avatar-user-admin-modal">
              <i class="fa fa-spinner fa-spin" style="display: none;"></i> Cập nhật
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <%- include ../component/admin/fixed-plugin.ejs %>

  <%- include ../component/message-alert.ejs %>

  <%- include ../component/admin/scripts-fixed-plugin.ejs %>
</body>

</html>
<script>
  function handleCloseImgAvatar(element) {
    $('.userAdminPage .show-image-upload').html("")
  }
  function readURL(input) {
    if (input.files) {
      var filesAmount = input.files.length

      for (var i = 0; i < filesAmount; i++) {
        var reader = new FileReader();

        reader.onload = (event) => {
          $('.userAdminPage .show-image-upload').html(`
          <div class="edit-review-upload-block">
            <i class="material-icons cancel-review-img-upload" onclick="removeImg(this)">close</i>
            <img src="${event.target.result}" class="edit-review-upload">
          </div>
          `)
        }
        reader.readAsDataURL(input.files[i]);
      }
    }
  }

  function removeImg(element) {
    element.parentNode.remove()
    $('#img-upload-input').val("")
  }

  function handleDataIdForModal(element) {
    const id = element.dataset.user
    $('.userAdminPage #update-avatar-user-admin-modal').attr('data-user', id)
  }

  $(document).ready(() => {

    $('.userAdminPage #btn-update-avatar-user-admin-modal').on('click', e => {

      $('.userAdminPage #btn-update-avatar-user-admin-modal i.fa-spinner').show()

      const id =  $('.userAdminPage #update-avatar-user-admin-modal').attr('data-user')
      const image = $('.userAdminPage .show-image-upload .edit-review-upload-block img').attr('src')

      const query = {
        image
      }


      fetch(`../admin/api/users/image/${id}`,{
          method: 'PUT',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(query)
      }).then(res => res.text())
      .then(data => {
          data = JSON.parse(data)
          if (data.status) {
            $('.userAdminPage #btn-update-avatar-user-admin-modal i.fa-spinner').hide()
            $('.userAdminPage .card-avatar img.follow-avatar-admin').attr('src', data.image)
            $('.userAdminPage #update-avatar-user-admin-modal').modal('hide')
            $('.userAdminPage .show-image-upload').html("")

            $('.messsageAlertPage #message-alert-show .content').html(data.message)
            $('.messsageAlertPage #message-alert-show').fadeIn();

            setTimeout(() => {
                $('.messsageAlertPage #message-alert-show').fadeOut();
            },700)
          }
          else {
            $('.userAdminPage #btn-update-avatar-user-admin-modal i.fa-spinner').hide()
            $('.messsageAlertPage #message-alert-show .content').html(data.error)
            $('.messsageAlertPage #message-alert-show').fadeIn();

            setTimeout(() => {
                $('.messsageAlertPage #message-alert-show').fadeOut();
            },3000)
          }
      }).catch(e => {
        $('.userAdminPage #btn-update-avatar-user-admin-modal i.fa-spinner').hide()
        $('.messsageAlertPage #message-alert-show .content').html(e.message)
        $('.messsageAlertPage #message-alert-show').fadeIn();

        setTimeout(() => {
            $('.messsageAlertPage #message-alert-show').fadeOut();
        },3000)
      })

    })

    $('.userAdminPage #btn-update-user-admin').on('click', e => {
      $('.userAdminPage #show-message-delay-update-user-admin').show()
      const id = document.querySelector('.userAdminPage').dataset.user
      const name = $('.userAdminPage #name-admin').val()
      const email = $('.userAdminPage #email-admin').val()
      const street = $('.userAdminPage #address-admin').val()
      const url = $('.userAdminPage #url-admin').val()
      const district = $('.userAdminPage #district-admin').val()
      const city = $('.userAdminPage #city-admin').val()
      const phone = $('.userAdminPage #phone-admin').val()
      const desc = $('.userAdminPage #desc-admin').val()
      const password = $('.userAdminPage #password-admin').val()
      const code = $('.userAdminPage #code-admin').val()
      const query = {
        name,
        email,
        street,
        district,
        city,
        code,
        phone,
        desc,
        url,
        password
      }

      fetch(`../admin/api/users/${id}`, {
      method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(query)
      }).then(res => res.text())
      .then(data => {
        data = JSON.parse(data)
        if (data.status) {

          $('.userAdminPage .follow-email-admin').html(data.user.email)
          $('.userAdminPage .follow-name-admin').html(data.user.name)
          $('.userAdminPage .follow-desc-admin').html(data.user.desc)
          $('.userAdminPage .follow-url-admin').attr('href', data.user.url)

          $('.messsageAlertPage #message-alert-show .content').html(data.message)
          $('.messsageAlertPage #message-alert-show').fadeIn();

          setTimeout(() => {
              $('.messsageAlertPage #message-alert-show').fadeOut();
          },3000)

          $('.userAdminPage #name-admin').val("")
          $('.userAdminPage #email-admin').val("")
          $('.userAdminPage #address-admin').val("")
          $('.userAdminPage #url-admin').val("")
          $('.userAdminPage #district-admin').val("")
          $('.userAdminPage #city-admin').val("")
          $('.userAdminPage #phone-admin').val("")
          $('.userAdminPage #desc-admin').val("")
          $('.userAdminPage #password-admin').val("")
          $('.userAdminPage #code-admin').val("")
        }
        else {
          $('.messsageAlertPage #message-alert-show .content').html(data.error)
          $('.messsageAlertPage #message-alert-show').fadeIn();

          setTimeout(() => {
              $('.messsageAlertPage #message-alert-show').fadeOut();
          },3000)
        }
        $('.userAdminPage #show-message-delay-update-user-admin').hide()
      })
      .catch(e => {
        $('.messsageAlertPage #message-alert-show .content').html(e.message)
        $('.messsageAlertPage #message-alert-show').fadeIn();

        setTimeout(() => {
            $('.messsageAlertPage #message-alert-show').fadeOut();
        },3000)
        
        $('.userAdminPage #show-message-delay-update-user-admin').hide()
      })
    })
  })
</script>